In [24]:
%pylab

import pandas as pd

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']

users = pd.read_table('ch02/ml-1m/users.dat', sep='::', header=None, names=unames)

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ch02/ml-1m/ratings.dat', sep='::', header=None, names=rnames)

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('ch02/ml-1m/movies.dat', sep='::', header=None, names=mnames)

data = pd.merge(pd.merge(ratings,  users), movies)

mean_ratings = data.pivot_table('rating', index='title', columns='gender', aggfunc='mean')

ratings_by_title = data.groupby('title').size()

activite_titles = ratings_by_title.index[ratings_by_title >= 250]

mean_ratings = mean_ratings.loc[activite_titles]

top_female_ratings = mean_ratings.sort_index(by='F', ascending=False)

mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

sorted_by_diff = mean_ratings.sort_index(by='diff')

sorted_by_diff[:15]

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  import sys
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  del sys.path[0]
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:25: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:29: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>gender</th>
      <th>F</th>
      <th>M</th>
      <th>diff</th>
    </tr>
    <tr>
      <th>title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Dirty Dancing (1987)</th>
      <td>3.790378</td>
      <td>2.959596</td>
      <td>-0.830782</td>
    </tr>
    <tr>
      <th>Jumpin' Jack Flash (1986)</th>
      <td>3.254717</td>
      <td>2.578358</td>
      <td>-0.676359</td>
    </tr>
    <tr>
      <th>Grease (1978)</th>
      <td>3.975265</td>
      <td>3.367041</td>
      <td>-0.608224</td>
    </tr>
    <tr>
      <th>Little Women (1994)</th>
      <td>3.870588</td>
      <td>3.321739</td>
      <td>-0.548849</td>
    </tr>
    <tr>
      <th>Steel Magnolias (1989)</th>
      <td>3.901734</td>
      <td>3.365957</td>
      <td>-0.535777</td>
    </tr>
    <tr>
      <th>Anastasia (1997)</th>
      <td>3.800000</td>
      <td>3.281609</td>
      <td>-0.518391</td>
    </tr>
    <tr>
      <th>Rocky Horror Picture Show, The (1975)</th>
      <td>3.673016</td>
      <td>3.160131</td>
      <td>-0.512885</td>
    </tr>
    <tr>
      <th>Color Purple, The (1985)</th>
      <td>4.158192</td>
      <td>3.659341</td>
      <td>-0.498851</td>
    </tr>
    <tr>
      <th>Age of Innocence, The (1993)</th>
      <td>3.827068</td>
      <td>3.339506</td>
      <td>-0.487561</td>
    </tr>
    <tr>
      <th>Free Willy (1993)</th>
      <td>2.921348</td>
      <td>2.438776</td>
      <td>-0.482573</td>
    </tr>
    <tr>
      <th>French Kiss (1995)</th>
      <td>3.535714</td>
      <td>3.056962</td>
      <td>-0.478752</td>
    </tr>
    <tr>
      <th>Little Shop of Horrors, The (1960)</th>
      <td>3.650000</td>
      <td>3.179688</td>
      <td>-0.470312</td>
    </tr>
    <tr>
      <th>Guys and Dolls (1955)</th>
      <td>4.051724</td>
      <td>3.583333</td>
      <td>-0.468391</td>
    </tr>
    <tr>
      <th>Mary Poppins (1964)</th>
      <td>4.197740</td>
      <td>3.730594</td>
      <td>-0.467147</td>
    </tr>
    <tr>
      <th>Patch Adams (1998)</th>
      <td>3.473282</td>
      <td>3.008746</td>
      <td>-0.464536</td>
    </tr>
  </tbody>
</table>
</div>